In [1]:
import pandas as pd
import glob
import matplotlib.pyplot as plt
root_dir="teamfiles"
all_data_df= pd.DataFrame()
all_data_df.head()

Empty DataFrame
Columns: []
Index: []

In [2]:
years=['1516', '1617','1718', '1819']

for year in years:
    all_data_df=all_data_df.append(pd.read_csv(f"{root_dir}/season-{year}_csv.csv"))
    #all_data_df.merge(soccer_data1)
    print(f"{root_dir}/season-{year}_csv")

all_data_df
#Must find a way to add a 'season' column to illistrate which season the data is from

teamfiles/season-1516_csv
teamfiles/season-1617_csv
teamfiles/season-1718_csv
teamfiles/season-1819_csv

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,E0,08/08/15,Bournemouth,Aston Villa,0,1,A,0,0,D,...,1.79,26,-0.5,1.98,1.93,1.99,1.92,1.82,3.88,4.70
1,E0,08/08/15,Chelsea,Swansea,2,2,D,2,1,H,...,1.99,27,-1.5,2.24,2.16,1.80,1.73,1.37,5.04,10.88
2,E0,08/08/15,Everton,Watford,2,2,D,0,1,A,...,1.96,26,-1.0,2.28,2.18,1.76,1.71,1.75,3.76,5.44
3,E0,08/08/15,Leicester,Sunderland,4,2,H,3,0,H,...,1.67,26,-0.5,2.00,1.95,1.96,1.90,1.79,3.74,5.10
4,E0,08/08/15,Man United,Tottenham,1,0,H,1,0,H,...,2.01,26,-1.0,2.20,2.09,1.82,1.78,1.64,4.07,6.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,12/05/2019,Liverpool,Wolves,2,0,H,1,0,H,...,2.31,22,-1.5,1.98,1.91,2.01,1.95,1.32,5.89,9.48
376,E0,12/05/2019,Man United,Cardiff,0,2,A,0,1,A,...,2.95,21,-2.0,2.52,2.32,1.72,1.64,1.30,6.06,9.71
377,E0,12/05/2019,Southampton,Huddersfield,1,1,D,1,0,H,...,2.29,22,-1.5,2.27,2.16,1.80,1.73,1.37,5.36,8.49
378,E0,12/05/2019,Tottenham,Everton,2,2,D,1,0,H,...,2.07,19,-0.5,2.13,2.08,1.85,1.80,1.91,3.81,4.15
379,E0,12/05/2019,Watford,West Ham,1,4,A,0,2,A,...,2.44,19,-0.5,2.25,2.19,1.78,1.72,2.11,3.86,3.41

In [3]:
xcolumns = ['Div','B365H', 'B365D', 'B365A', 'BWH', 'BWD',
       'BWA', 'IWH', 'IWD', 'IWA', 'LBH', 'LBD', 'LBA', 'PSH', 'PSD', 'PSA',
       'WHH', 'WHD', 'WHA', 'VCH', 'VCD', 'VCA', 'Bb1X2', 'BbMxH', 'BbAvH',
       'BbMxD', 'BbAvD', 'BbMxA', 'BbAvA', 'BbOU', 'BbMx>2.5', 'BbAv>2.5',
       'BbMx<2.5', 'BbAv<2.5', 'BbAH', 'BbAHh', 'BbMxAHH', 'BbAvAHH',
       'BbMxAHA', 'BbAvAHA', 'PSCH', 'PSCD', 'PSCA', 'Referee']
all_data_df.drop(labels=xcolumns, axis=1, inplace=True)

In [4]:
all_data_df.columns

Index(['Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG', 'HTAG',
       'HTR', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC', 'HY', 'AY',
       'HR', 'AR'],
      dtype='object')

In [5]:
all_data_df.rename(columns={'FTHG': 'FT Home Goals', 'FTAG': 'FT Away Goals', 'FTR':'FT Winner', 'HTHG': 'HT Home Goals',
                           'HTAG': 'HT Away Goals', 'HTR': 'HT Winner', 'HS': 'Home Shots', 'AS': 'Away Shots',
                           'HST': 'Home Shots OT', 'AST': 'Away Shots OT', 'HF': 'Home Fouls', 'AF': 'Away Fouls', 
                           'HC': 'Home Corners', 'AC': 'Away Corner', 'HY': 'Home Yellow Cards', 'AY': 'Away Yellow Cards',
                           'HR': 'Home Red Cards', 'AR': 'Away Red Cards'},inplace=True)
all_data_df

,Date,HomeTeam,AwayTeam,FT Home Goals,FT Away Goals,FT Winner,HT Home Goals,HT Away Goals,HT Winner,Home Shots,...,Home Shots OT,Away Shots OT,Home Fouls,Away Fouls,Home Corners,Away Corner,Home Yellow Cards,Away Yellow Cards,Home Red Cards,Away Red Cards
0,08/08/15,Bournemouth,Aston Villa,0,1,A,0,0,D,11,...,2,3,13,13,6,3,3,4,0,0
1,08/08/15,Chelsea,Swansea,2,2,D,2,1,H,11,...,3,10,15,16,4,8,1,3,1,0
2,08/08/15,Everton,Watford,2,2,D,0,1,A,10,...,5,5,7,13,8,2,1,2,0,0
3,08/08/15,Leicester,Sunderland,4,2,H,3,0,H,19,...,8,5,13,17,6,3,2,4,0,0
4,08/08/15,Man United,Tottenham,1,0,H,1,0,H,9,...,1,4,12,12,1,2,2,3,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,12/05/2019,Liverpool,Wolves,2,0,H,1,0,H,13,...,5,2,3,11,4,1,0,2,0,0
376,12/05/2019,Man United,Cardiff,0,2,A,0,1,A,26,...,10,4,9,6,11,2,3,3,0,0
377,12/05/2019,Southampton,Huddersfield,1,1,D,1,0,H,10,...,3,3,8,6,4,3,0,1,0,0
378,12/05/2019,Tottenham,Everton,2,2,D,1,0,H,11,...,3,9,10,13,7,4,0,2,0,0
379,12/05/2019,Watford,West Ham,1,4,A,0,2,A,17,...,8,9,10,10,7,2,1,0,1,0

In [6]:
len(all_data_df['HomeTeam'])

1520

In [25]:
all_data_df.loc[all_data_df['FT Winner']=='H', 'Home Points']  = 3 
all_data_df.loc[all_data_df['FT Winner']=='H', 'Home Win']  = 1
all_data_df.loc[all_data_df['FT Winner']=='H', 'Away Win']  = 0 
all_data_df.loc[all_data_df['FT Winner']=='H', 'Draw']  = 0 
all_data_df.loc[all_data_df['FT Winner']=='H', 'Away Points']  = 0
all_data_df.loc[all_data_df['FT Winner']=='A', 'Away Points']  = 3
all_data_df.loc[all_data_df['FT Winner']=='A', 'Away Win']  = 1 
all_data_df.loc[all_data_df['FT Winner']=='A', 'Home Win']  = 0 
all_data_df.loc[all_data_df['FT Winner']=='A', 'Draw']  = 0 
all_data_df.loc[all_data_df['FT Winner']=='A', 'Home Points']  = 0
all_data_df.loc[all_data_df['FT Winner']=='D', 'Home Points']  = 1
all_data_df.loc[all_data_df['FT Winner']=='D', 'Away Points']  = 1
all_data_df.loc[all_data_df['FT Winner']=='D', 'Draw']  = 1 
all_data_df.loc[all_data_df['FT Winner']=='D', 'Home Win']  = 0 
all_data_df.loc[all_data_df['FT Winner']=='D', 'Away Win']  = 0 
all_data_df

,Date,HomeTeam,AwayTeam,FT Home Goals,FT Away Goals,FT Winner,HT Home Goals,HT Away Goals,HT Winner,Home Shots,...,Away Corner,Home Yellow Cards,Away Yellow Cards,Home Red Cards,Away Red Cards,Home Points,Away Points,Home Win,Away Win,Draw
0,08/08/15,Bournemouth,Aston Villa,0,1,A,0,0,D,11,...,3,3,4,0,0,0.0,3.0,0.0,1.0,0.0
1,08/08/15,Chelsea,Swansea,2,2,D,2,1,H,11,...,8,1,3,1,0,1.0,1.0,0.0,0.0,1.0
2,08/08/15,Everton,Watford,2,2,D,0,1,A,10,...,2,1,2,0,0,1.0,1.0,0.0,0.0,1.0
3,08/08/15,Leicester,Sunderland,4,2,H,3,0,H,19,...,3,2,4,0,0,3.0,0.0,1.0,0.0,0.0
4,08/08/15,Man United,Tottenham,1,0,H,1,0,H,9,...,2,2,3,0,0,3.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,12/05/2019,Liverpool,Wolves,2,0,H,1,0,H,13,...,1,0,2,0,0,3.0,0.0,1.0,0.0,0.0
376,12/05/2019,Man United,Cardiff,0,2,A,0,1,A,26,...,2,3,3,0,0,0.0,3.0,0.0,1.0,0.0
377,12/05/2019,Southampton,Huddersfield,1,1,D,1,0,H,10,...,3,0,1,0,0,1.0,1.0,0.0,0.0,1.0
378,12/05/2019,Tottenham,Everton,2,2,D,1,0,H,11,...,4,0,2,0,0,1.0,1.0,0.0,0.0,1.0
379,12/05/2019,Watford,West Ham,1,4,A,0,2,A,17,...,2,1,0,1,0,0.0,3.0,0.0,1.0,0.0

In [21]:
total_points = all_data_df.groupby('HomeTeam')['Home Points'].sum()
total_points

HomeTeam
Arsenal           177.0
Aston Villa        11.0
Bournemouth       106.0
Brighton           52.0
Burnley            82.0
Cardiff            20.0
Chelsea           154.0
Crystal Palace     87.0
Everton           134.0
Fulham             21.0
Huddersfield       32.0
Hull               28.0
Leicester         130.0
Liverpool         169.0
Man City          182.0
Man United        158.0
Middlesbrough      18.0
Newcastle          81.0
Norwich            23.0
Southampton       102.0
Stoke              75.0
Sunderland         38.0
Swansea            78.0
Tottenham         170.0
Watford           106.0
West Brom          70.0
West Ham          117.0
Wolves             34.0
Name: Home Points, dtype: float64